@import "../../styles/variables";
@import "../../styles/mixins";

.spinner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.spinner {
  width: 10rem;
  height: 10rem;
  position: relative;
  border: 0.4rem solid $light-black-color;
  border-top: 0.4rem solid $main-color;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
