$main-color: #7fc4db;
$main-bg-color: #e6e2e2;
$main-dark-color: #267894;
$danger-light-color: #ea4747;
$danger-color: #e51b1b;
$danger-dark-color: #960f0f;
$grey-color: #777777;
$grey-light-color: #f4f4f4;
$grey-dark-color: #333333;
$white-color: #ffffff;
$black-color: #000000;
$light-black-color: rgba(0, 0, 0, 0.2);
$extra-light-black-color: rgba(0, 0, 0, 0.1);
$transition: all 300ms ease-in-out;

$font-size-regular: 1.6rem;
$font-size-large: 2.8rem;
$font-size-xlarge: 3.6rem;
$font-size-small: 1.4rem;
$font-size-xsmall: 1.2rem;
$font-size-xxsmall: 1rem;

$padding-regular: 1rem 2rem;
$border-radius: 0.5rem;
