@import "../../styles/variables";
@import "../../styles/mixins";

.hero {
  height: 50%;
  @extend %flex-center;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  background-color: $main-color;
}

.title {
  font-weight: bold;
  font-size: 5rem;
  text-align: center;
}

.text {
  padding: 1rem;
  margin-bottom: 0.5rem;
  word-wrap: break-word;
  text-align: center;
}
