@import "../../styles/variables";
@import "../../styles/mixins";

.input-container {
  width: 16em;
  padding: 0.5em;
  border-radius: 0.25em;
  border: 0.05em solid $grey-color;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input-field {
  font-size: 1.6rem;
  line-height: 1.7;
}

.clear-btn {
  background: none;
  color: $grey-color;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0;
  font-size: 1.25em;
  margin-top: -0.1em;
  margin-right: 0.2em;

  &:hover,
  &:focus {
    color: $grey-dark-color;
  }
}
