@import "../../styles/variables";
@import "../../styles/mixins";

.form-group {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
}

.label {
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
  margin-left: 1rem;
}

.input {
  padding: 0.8rem;
  border: 1px solid $grey-color;
  border-radius: 0.4rem;
  font-size: 1.6rem;
}

.textarea {
  padding: 0.8rem;
  border: 0.1rem solid $grey-color;
  border-radius: 0.4rem;
  font-size: 1.6rem;
  resize: none;
  height: 10rem;
}

.error {
  color: $danger-color;
  font-size: 1.4rem;
  margin-left: 1rem;
  margin-top: 0.5rem;
}
